@CHARSET "UTF-8";
/* .tag-list {
	border:1px solid #DDDDDD;
	padding:10px;
}
.tag-list .title {
	color:#5cb860;
	font-size:16px;
} */


.tag-list {
	border-bottom:1px solid #CCCCCC;
}
.tag-list a {
	color:#333333;
}