@CHARSET "UTF-8";
body {
	background: #131313 none no-repeat fixed center top;
    color: #c6c6c6;
}
a {
	text-decoration:none;
}
header .navbar {
	background: #131313;
	border:0px;
}
header .nav li {
	background:none;
	border-top:2px solid #131313;
}
header .nav li.active {
	background:none;
	border-top:2px solid #00AAFF;
	/* color: #0af;
    transition: color 0.4s cubic-bezier(0.3, 0, 0, 1.3) 0s; */
} 
.navbar-brand {
	padding-top:10px;
	padding-bottom:0px;
}
.navbar-nav > li > a {
	padding-top:8px;
	padding-bottom:5px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	background:none!important;
}
.main-logo {
	color:#0af;
	margin-top:120px;
}
.g-color {
	color:#0af;
}
.search {
	margin-top:70px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
.search-form button {
	background:#131313;
	border:1px solid #131313;
}
/* .search .btn:hover {
    background-color: #3f3f3f;
    background-image: -moz-linear-gradient(90deg, #2f2f2f 0px, #363636 100%);
} */
.search-form .btn {
    background-color: #323232;
    background-image: -moz-linear-gradient(90deg, #232323 0px, #323232 100%);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.52);
    color: #b6b6b6;
    outline: 0 none;
    text-shadow: 0 0 1px #000;
    vertical-align: middle;
	border:1px solid #323232;
}


.tag1 {
	background: #3a4a56 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    max-width: 210px;
    overflow-x: hidden;
    padding: 4px 10px;
    text-overflow: ellipsis;
    text-shadow: 0 0 1px #000;
    white-space: nowrap;
	text-decoration:none;
}
.tag1:hover {text-decoration:none;color: #fff;}
.tag2 {
	
}


.result-list {
	background:none;
	box-shadow:none;
}
.result-list .panel-heading {
    border-bottom: 1px solid #030303;
    border-top: 0 none;
    box-shadow: 0 1px 0 rgba(61, 61, 61, 0.55);
}

/* .result-list .expand::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.59) 90%, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0;
    bottom: 0;
    color: #afafaf;
    content: " ";
    display: block;
    padding: 6px 10px;
    position: absolute;
    right: 0;
    text-align: right;
    text-shadow: 0 0 1px #000;
    width: 100%;
}
 */
 .result-list .expand.on {
    overflow: visible;
}
/* .result-list .expand.on::before {
    transform: rotate(0deg);
} */

/* .result-list .expand::before {
    bottom: 0;
    color: #999;
    content: "";
    font-family: iconfont,sans-serif;
    font-size: 18px;
    left: 50%;
    margin-left: -16px;
    position: absolute;
    text-align: center;
    transform: rotate(180deg);
    transition: transform 0.2s ease 0s;
    width: 32px;
    z-index: 10;
} */

/* .result-list .expand::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.59) 90%, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0;
    bottom: 0;
    color: #afafaf;
    content: " ";
    display: block;
    padding: 6px 10px;
    position: absolute;
    right: 0;
    text-align: right;
    text-shadow: 0 0 1px #000;
    width: 100%;
} */
.result-list .expand:hover::after {
    background: rgba(0, 0, 0, 0.74) none repeat scroll 0 0;
}
.result-list .expand:hover::before {
    color: #fff;
    text-shadow: 0 0 8px #fff;
}

.result-list .expand {
    background: rgba(0, 0, 0, 0.17) none repeat scroll 0 0;
    border-color: #2b2b2b;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.71) inset;
    cursor: pointer;
    height: 200px;
	overflow:hidden;
    position: relative;
    transition: height 0.2s ease 0s;
	word-wrap:break-word; word-break:break-all;
}
.result-list .html-body {
	position:relative;
}
.result-list .click-toggle {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.59) 90%, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0;
    color: #afafaf;
    display: block;
    padding: 7px 10px 5px;
    position: absolute;
    text-shadow: 0 0 1px #000;
    width: 100%;
	left:0px;bottom:1px;
	cursor:pointer;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
}

.flag {
    background-image:url("../images/flag.png") ;
	background-repeat:no-repeat;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;
}
.pagination {
	
}
.pagination > li > a, .pagination > li > span,.pagination > li.disabled > span {
    background: #444 none repeat scroll 0 0;
    border: 1px solid #333;
    color: #9b9b9b;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #292929;
    border-color: #1b1b1b;
    color: #fff;
}
.flag-ky {
    background-position: 0 0;
}
.flag-ly {
    background-position: 0 -24px;
}
.flag-mt {
    background-position: 0 -48px;
}
.flag-sv {
    background-position: 0 -72px;
}
.flag-ke {
    background-position: 0 -96px;
}
.flag-sg {
    background-position: 0 -120px;
}
.flag-lr {
    background-position: 0 -144px;
}
.flag-bg {
    background-position: 0 -168px;
}
.flag-et {
    background-position: 0 -192px;
}
.flag-kn {
    background-position: 0 -216px;
}
.flag-uy {
    background-position: 0 -240px;
}
.flag-pe {
    background-position: 0 -264px;
}
.flag-id {
    background-position: 0 -288px;
}
.flag-np {
    background-position: 0 -312px;
}
.flag-ro {
    background-position: 0 -336px;
}
.flag-gl {
    background-position: -24px 0;
}
.flag-af {
    background-position: -24px -24px;
}
.flag-nr {
    background-position: -24px -48px;
}
.flag-kg {
    background-position: -24px -72px;
}
.flag-no {
    background-position: -24px -96px;
}
.flag-jo {
    background-position: -24px -120px;
}
.flag-se {
    background-position: -24px -144px;
}
.flag-za {
    background-position: -24px -168px;
}
.flag-la {
    background-position: -24px -192px;
}
.flag-ua {
    background-position: -24px -216px;
}
.flag-gq {
    background-position: -24px -240px;
}
.flag-as {
    background-position: -24px -264px;
}
.flag-jm {
    background-position: -24px -288px;
}
.flag-sz {
    background-position: -24px -312px;
}
.flag-mg {
    background-position: -24px -336px;
}
.flag-sa {
    background-position: -48px 0;
}
.flag-ug {
    background-position: -48px -24px;
}
.flag-bm {
    background-position: -48px -48px;
}
.flag-gr {
    background-position: -48px -72px;
}
.flag-tc {
    background-position: -48px -96px;
}
.flag-Taiwan {
    background-position: -336px -240px;
}
.flag-mq {
    background-position: -48px -144px;
}
.flag-China {
    background-position: -48px -168px;
}
.flag-co {
    background-position: -48px -192px;
}
.flag-tm {
    background-position: -48px -216px;
}
.flag-mo {
    background-position: -48px -240px;
}
.flag-ai {
    background-position: -48px -264px;
}
.flag-dm {
    background-position: -48px -288px;
}
.flag-de {
    background-position: -48px -312px;
}
.flag-ad {
    background-position: -48px -336px;
}
.flag-fj {
    background-position: -72px 0;
}
.flag-ag {
    background-position: -72px -24px;
}
.flag-an {
    background-position: -72px -48px;
}
.flag-tr {
    background-position: -72px -72px;
}
.flag-pr {
    background-position: -72px -96px;
}
.flag-jp {
    background-position: -72px -120px;
}
.flag-bj {
    background-position: -72px -144px;
}
.flag-ck {
    background-position: -72px -168px;
}
.flag-er {
    background-position: -72px -192px;
}
.flag-cz {
    background-position: -72px -216px;
}
.flag-je {
    background-position: -72px -240px;
}
.flag-au {
    background-position: -72px -264px;
}
.flag-kh {
    background-position: -72px -288px;
}
.flag-pl {
    background-position: -72px -312px;
}
.flag-tv {
    background-position: -72px -336px;
}
.flag-my {
    background-position: -96px 0;
}
.flag-iq {
    background-position: -96px -24px;
}
.flag-bf {
    background-position: -96px -48px;
}
.flag-rs {
    background-position: -96px -72px;
}
.flag-kp {
    background-position: -96px -96px;
}
.flag-ls {
    background-position: -96px -120px;
}
.flag-tg {
    background-position: -96px -144px;
}
.flag-mh {
    background-position: -96px -168px;
}
.flag-fm {
    background-position: -96px -192px;
}
.flag-km {
    background-position: -96px -216px;
}
.flag-lc {
    background-position: -96px -240px;
}
.flag-ba {
    background-position: -96px -264px;
}
.flag-ps {
    background-position: -96px -288px;
}
.flag-sy {
    background-position: -96px -312px;
}
.flag-ie {
    background-position: -96px -336px;
}
.flag-cg {
    background-position: -120px 0;
}
.flag-do {
    background-position: -120px -24px;
}
.flag-bi {
    background-position: -120px -48px;
}
.flag-st {
    background-position: -120px -72px;
}
.flag-pf {
    background-position: -120px -96px;
}
.flag-am {
    background-position: -120px -120px;
}
.flag-mc {
    background-position: -120px -144px;
}
.flag-fo {
    background-position: -120px -168px;
}
.flag-al {
    background-position: -120px -192px;
}
.flag-th {
    background-position: -120px -216px;
}
.flag-va {
    background-position: -120px -240px;
}
.flag-lu {
    background-position: -120px -264px;
}
.flag-zw {
    background-position: -120px -288px;
}
.flag-bo {
    background-position: -120px -312px;
}
.flag-by {
    background-position: -120px -336px;
}
.flag-cl {
    background-position: -144px 0;
}
.flag-dk {
    background-position: -144px -24px;
}
.flag-aw {
    background-position: -144px -48px;
}
.flag-mz {
    background-position: -144px -72px;
}
.flag-gd {
    background-position: -144px -96px;
}
.flag-ca {
    background-position: -144px -120px;
}
.flag-it {
    background-position: -144px -144px;
}
.flag-ms {
    background-position: -144px -168px;
}
.flag-pw {
    background-position: -144px -192px;
}
.flag-ht {
    background-position: -144px -216px;
}
.flag-gu {
    background-position: -144px -240px;
}
.flag-ma {
    background-position: -144px -264px;
}
.flag-eh {
    background-position: -144px -288px;
}
.flag-vn {
    background-position: -144px -312px;
}
.flag-vg {
    background-position: -144px -336px;
}
.flag-dj {
    background-position: -168px 0;
}
.flag-in {
    background-position: -168px -24px;
}
.flag-cd {
    background-position: -168px -48px;
}
.flag-na {
    background-position: -168px -72px;
}
.flag-lv {
    background-position: -168px -96px;
}
.flag-fi {
    background-position: -168px -120px;
}
.flag-hu {
    background-position: -168px -144px;
}
.flag-tt {
    background-position: -168px -168px;
}
.flag-vu {
    background-position: -168px -192px;
}
.flag-bd {
    background-position: -168px -216px;
}
.flag-lb {
    background-position: -168px -240px;
}
.flag-us {
    background-position: -168px -264px;
}
.flag-at {
    background-position: -168px -288px;
}
.flag-sn {
    background-position: -168px -312px;
}
.flag-lk {
    background-position: -168px -336px;
}
.flag-nz {
    background-position: -192px 0;
}
.flag-sd {
    background-position: -192px -24px;
}
.flag-vc {
    background-position: -192px -48px;
}
.flag-ga {
    background-position: -192px -72px;
}
.flag-es {
    background-position: -192px -96px;
}
.flag-py {
    background-position: -192px -120px;
}
.flag-kz {
    background-position: -192px -144px;
}
.flag-mu {
    background-position: -192px -168px;
}
.flag-md {
    background-position: -192px -192px;
}
.flag-bh {
    background-position: -192px -216px;
}
.flag-mr {
    background-position: -192px -240px;
}
.flag-kw {
    background-position: -192px -264px;
}
.flag-ni {
    background-position: -192px -288px;
}
.flag-gp {
    background-position: -192px -312px;
}
.flag-bb {
    background-position: -192px -336px;
}
.flag-tj {
    background-position: -216px 0;
}
.flag-cv {
    background-position: -216px -24px;
}
.flag-sb {
    background-position: -216px -48px;
}
.flag-qa {
    background-position: -216px -72px;
}
.flag-hk {
    background-position: -216px -96px;
}
.flag-zm {
    background-position: -216px -120px;
}
.flag-vi {
    background-position: -216px -144px;
}
.flag-ph {
    background-position: -216px -168px;
}
.flag-bw {
    background-position: -216px -192px;
}
.flag-gn {
    background-position: -216px -216px;
}
.flag-si {
    background-position: -216px -240px;
}
.flag-hr {
    background-position: -216px -264px;
}
.flag-pa {
    background-position: -216px -288px;
}
.flag-eg {
    background-position: -216px -312px;
}
.flag-mn {
    background-position: -216px -336px;
}
.flag-om {
    background-position: -240px 0;
}
.flag-az {
    background-position: -240px -24px;
}
.flag-sk {
    background-position: -240px -48px;
}
.flag-cu {
    background-position: -240px -72px;
}
.flag-ci {
    background-position: -240px -96px;
}
.flag-mw {
    background-position: -240px -120px;
}
.flag-tn {
    background-position: -240px -144px;
}
.flag-sr {
    background-position: -240px -168px;
}
.flag-gm {
    background-position: -240px -192px;
}
.flag-uz {
    background-position: -240px -216px;
}
.flag-gg {
    background-position: -240px -240px;
}
.flag-gt {
    background-position: -240px -264px;
}
.flag-bt {
    background-position: -240px -288px;
}
.flag-tz {
    background-position: -240px -312px;
}
.flag-be {
    background-position: -240px -336px;
}
.flag-mv {
    background-position: -264px 0;
}
.flag-ye {
    background-position: -264px -24px;
}
.flag-gh {
    background-position: -264px -48px;
}
.flag-kr {
    background-position: -264px -72px;
}
.flag-td {
    background-position: -264px -96px;
}
.flag-ml {
    background-position: -264px -120px;
}
.flag-pt {
    background-position: -264px -144px;
}
.flag-li {
    background-position: -264px -168px;
}
.flag-ar {
    background-position: -264px -192px;
}
.flag-ve {
    background-position: -264px -216px;
}
.flag-bs {
    background-position: -264px -240px;
}
.flag-im {
    background-position: -264px -264px;
}
.flag-tl {
    background-position: -264px -288px;
}
.flag-gy {
    background-position: -264px -312px;
}
.flag-dz {
    background-position: -264px -336px;
}
.flag-ge {
    background-position: -288px 0;
}
.flag-rw {
    background-position: -288px -24px;
}
.flag-is {
    background-position: -288px -48px;
}
.flag-nl {
    background-position: -288px -72px;
}
.flag-lt {
    background-position: -288px -96px;
}
.flag-gb {
    background-position: -288px -120px;
}
.flag-gw {
    background-position: -288px -144px;
}
.flag-mx {
    background-position: -288px -168px;
}
.flag-to {
    background-position: -288px -192px;
}
.flag-nc {
    background-position: -288px -216px;
}
.flag-ne {
    background-position: -288px -240px;
}
.flag-ae {
    background-position: -288px -264px;
}
.flag-fr {
    background-position: -288px -288px;
}
.flag-so {
    background-position: -288px -312px;
}
.flag-cy {
    background-position: -288px -336px;
}
.flag-ws {
    background-position: -312px 0;
}
.flag-gi {
    background-position: -312px -24px;
}
.flag-il {
    background-position: -312px -48px;
}
.flag-sm {
    background-position: -312px -72px;
}
.flag-mk {
    background-position: -312px -96px;
}
.flag-sl {
    background-position: -312px -120px;
}
.flag-cf {
    background-position: -312px -144px;
}
.flag-ir {
    background-position: -312px -168px;
}
.flag-ki {
    background-position: -312px -192px;
}
.flag-pk {
    background-position: -312px -216px;
}
.flag-bz {
    background-position: -312px -240px;
}
.flag-ee {
    background-position: -312px -264px;
}
.flag-bn {
    background-position: -312px -288px;
}
.flag-ao {
    background-position: -312px -312px;
}
.flag-aq {
    background-position: -312px -336px;
}
.flag-ng {
    background-position: -336px 0;
}
.flag-ru {
    background-position: -336px -24px;
}
.flag-ch {
    background-position: -336px -48px;
}
.flag-sc {
    background-position: -336px -72px;
}
.flag-pg {
    background-position: -336px -96px;
}
.flag-br {
    background-position: -336px -120px;
}
.flag-hn {
    background-position: -336px -144px;
}
.flag-cr {
    background-position: -336px -168px;
}
.flag-cm {
    background-position: -336px -192px;
}
.flag-me {
    background-position: -336px -216px;
}
.flag-mm {
    background-position: -336px -240px;
}
.flag-ec {
    background-position: -336px -264px;
}
.flag-re {
    background-position: -336px -288px;
}
@media not all {
.flag {
    background-image: url("../images/flag@2x.png");
}
}