@CHARSET "UTF-8";
.ask {
	/* background:#FFFFFF;
	border:1px solid #FFFFFF; */
	padding-bottom:5px;
}
.tag {
	padding:1px 10px;
	font-weight:bold;
}
.list-title a {color:#333333;font-size:16px;font-weight:500;}
.list-info,.list-info a {font-size:14px;}
.topic-list .row {
	margin-left:0px;
}
.media-body {
	padding-left:10px;
}
.content-box .content:before {
	content: "";
    display: block;
    position: absolute;
    top: 21px;
    left: -6px;
    width: 10px;
    height: 10px;
    background: #FFF;
    border-left: 1px solid #CAD5E0;
    border-top: 1px solid #CAD5E0;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}
.content-box .content {
	padding:35px;
    position: relative;
    overflow: visible;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.6;
}

.topic .reply-count {
	display:inline-block;
	border-radius:8px;
	padding:5px 15px;
	border:1px solid #CCCCCC;
}
