@CHARSET "UTF-8";
html,body {width:100%;}
img {border:0px;vertical-align:middle;}
input {vertical-align:middle;outline:none;background:none;}
table{border-collapse:collapse;}
textarea {outline:none;background:none;}
li {list-style-type:none;}
a {text-decoration:none;outline:none;}
.clear1 {overflow:hidden;_zoom:1;}
.clear2 {height:0px;line-height:0px;clear:both;}
.none,.hide {display:none;}
.b,.bold {font-weight:bold;}
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs15 {font-size:15px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs20 {font-size:20px;}
.fs22 {font-size:22px;}
.fs24 {font-size:24px;}
.mt0 {margin-top:0px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mb0 {margin-bottom:0px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mtb15 {margin:15px 0px;}
.ml0 {margin-left:0px;}
.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.mr0 {margin-right:0px;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.ma {margin-left:auto;margin-right:auto;}
.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pb5 {padding-bottom:5px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.p10 {padding:10px;}
.p15 {padding:15px;}
.p20 {padding:20px;}
.fl {float:left;}
.fr {float:right;}
.wa {width:auto;}
.ha {height:auto;}
.wpk {word-wrap:break-word; word-break:break-all;/*_white-space: nowrap;*/}
.pr {cursor:pointer;}
.ie {display:inline;}
.bk {display:block;}
.set-red {color:red;}


body, html {
    height: 100%;
}
body {
	font-family: "Source Sans Pro",Helvetica,sans-serif!important;
}
a {
	text-decoration:none!important;
}
.main-left {
 	background-attachment: scroll, fixed;
    background-color: #1f1815;
    background-image: url("../images/bg.jpg");
    background-position: left top, left top;
    background-repeat: repeat, no-repeat;
    background-size: auto auto, auto 100%;
    color: rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    padding: 8em 4em 0 0;
    position: fixed;
    text-align: right;
    top: 0;
	width:32%;
}
.main-left .left-top .logo a {
	color:#FFFFFF;
	font-size:50px;
}
.main-left .meta {
	font-weight:300;
	font-size:20px;
}
.main-left .left-top .meta-1 {
	color: rgba(255, 255, 255, 0.5);
}
.main-left .left-bottom {
	position:absolute;
	bottom:30px;
	position: fixed;
	text-align: right;
	width:32%;
	padding-right:4em;
}
.main-left .left-bottom a {
	color:#FFFFFF;
}

.main-left .main-nav .nav a,.main-left .main-nav .nav a:hover {
	background:none;
	padding:0px;
	padding-top:2px;
}

.main-left .main-nav .nav a {
	font-size:16px;
	color: rgba(255, 255, 255, 0.5);
}
.main-left .main-nav .nav a:hover {
	color:#FFFFFF;
}
.main-left .main-nav .nav li.active a {
	font-weight:bold;
	color:#FFFFFF;
}
.main-right {
	width:68%;
	padding:8em 4% 0px;
}
.main-right article {
    border-bottom: 1px dashed #d9d9d9;
    margin: 20px 0px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}
.main-right .articles article .title {
    color: #787878;
    display: inherit;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 auto;
}


.main-right .articles article .content {
    color: #42484b;
    font-family: Helvetica,微软雅黑,sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 25px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
	color:#b2b2b2;
}

.main-right .articles article .article-info,.main-right .articles article .article-info a {
    color: #999;
}


